<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Envíos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="envios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Envios
        </a>
        <div class="dropdown-menu" aria-labelledby="envios">
          <a class="dropdown-item"  href="envio/crear">Nuevo Envíos</a>
          <a class="dropdown-item" href="#">Buscar Envio</a>
          <a class="dropdown-item" href="#">Mostrar Envios</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1 style="text-align: center;">Bienvenidos a Envios S.A</h1>
  <section>
   <div >
    <img   style="display: block;" src="/assets/camion.png" alt="">
 </div>
  </section>
</div>
