
<section >
    <div class="container" >
        <h1 style="text-align: center;">Lista De Envíos</h1>
        <br>
        <div class="row">
            <label > <strong> Número Total De Envios es: {{totalEnvios}}</strong></label>
          </div>
        <div [formGroup]="idForm" class="row">
            
              <label>Id de referencia:</label>
            
            <div class="col-sm-4">
              <input #id type="number" id="idEnvio" name="idEnvio" class="form-control" formControlName="idEnvio">
            </div>
           <button type="submit" id="buscar" class="btn btn-primary" (click)="listarPorId(id.value)"
        ><strong>Buscar</strong> </button>
        
    </div>
    
    
    <br>
   <div>
        <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id de referencia</th>
                <th>Fecha ingreso</th>
                <th>Fecha entrega</th>
                <th>Remitente</th>
                <th>Receptor</th>
                <th>Receptor direccion</th>
                <th>Peso</th>
                <th>Valor</th>
                <th>Express</th>


            </tr>
        </thead>
        <tbody *ngIf= "buscarid ">
            <tr  >
                <td>{{buscarid.idEnvio}}</td>
                <td>{{buscarid.fechaIngreso}}</td>
                <td>{{buscarid.fechaEntrega}}</td>
                <td>{{buscarid.remitente}}</td>
                <td>{{buscarid.receptor}}</td>
                <td>{{buscarid.receptorDireccion}}</td>
                <td>{{buscarid.peso}}</td>
                <td>{{buscarid.valor}}</td>
                <td>{{buscarid.envioExpress}}</td>
                
            </tr>
        </tbody>
        <tbody *ngIf= "!buscarid">

            <tr *ngFor="let lista of listaEnvio | paginate:{itemsPerPage:20, currentPage:paginaActual};" >
                <td>{{lista.idEnvio}}</td>
                <td>{{lista.fechaIngreso}}</td>
                <td>{{lista.fechaEntrega}}</td>
                <td>{{lista.remitente}}</td>
                <td>{{lista.receptor}}</td>
                <td>{{lista.receptorDireccion}}</td>
                <td>{{lista.peso}}</td>
                <td>{{lista.valor}}</td>
                <td>{{lista.envioExpress}}</td>
                
            </tr>
            
        </tbody>
    </table>
</div>
<div class="control" *ngIf= "!buscarid">
    <pagination-controls  (pageChange)="paginaActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
     </div>
</div>
</section>